body {
    color: white;
    background-color: black;
}

.header {
    height: 400px;
    width: 100%;
    flex-direction: column;
    background-color: black;
}

.bannerimage {
    display: flex;
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.banner {
    display: flex;
    gap: 16px;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    
}

.logospin {
    padding-top: 8px;
    padding-left: 8px;

}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: white;
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-one {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: solid white;
}

.hero-image {
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.main-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: white;

}